.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f4f4f4;
}
.b {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 30px;
    text-align: left;
}
.div {
    position: relative;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 30px;
    font-weight: 600;
    color: #ab80e3;
}
.scoring-child {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 53.21%;
    bottom: 42.42%;
    left: 35.17%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.scoring-item {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 88.38%;
    bottom: 42.42%;
    left: 0%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.scoring-inner {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 18.04%;
    bottom: 42.42%;
    left: 70.34%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.ellipse-div {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 35.17%;
    bottom: 42.42%;
    left: 53.21%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.scoring-child1 {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 70.34%;
    bottom: 42.42%;
    left: 18.04%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.scoring-child2    {
    position: absolute;
    height: 57.58%;
    width: 11.62%;
    top: 0%;
    right: 0%;
    bottom: 42.42%;
    left: 88.38%;
    border-radius: 50%;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
}
.div2 {
    position: absolute;
    top: 72.73%;
    left: 4.28%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div3 {
    position: absolute;
    top: 72.73%;
    left: 39.45%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div4 {
    position: absolute;
    top: 72.73%;
    left: 22.63%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div5 {
    position: absolute;
    top: 72.73%;
    left: 57.49%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div6 {
    position: absolute;
    top: 72.73%;
    left: 74.62%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div7 {
    position: absolute;
    top: 72.73%;
    left: 92.66%;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.scoring1 {
    position: absolute;
    top: 42px;
    left: calc(50% - 163.5px);
    width: 327px;
    height: 66px;
}
.div8 {
    position: absolute;
    top: 0px;
    left: calc(50% - 71.5px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #252525;
}

.div01 {
    width: 327px;
    position: relative;
    height: 108px;
}
.div02 {
    width: 327px;
    position: relative;
    height: 108px;
}
.div03 {
    width: 327px;
    position: relative;
    height: 108px;
}
.div04 {
    width: 327px;
    position: relative;
    height: 108px;
}
.div16 {
    position: absolute;
    top: 0px;
    left: calc(50% - 75.5px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #252525;
}
.div24 {
    position: absolute;
    top: 0px;
    left: calc(50% - 102.5px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #252525;
}
.div32 {
    position: absolute;
    top: 0px;
    left: calc(50% - 88.5px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #252525;
}
.div33 {
    position: absolute;
    top: 0px;
    left: calc(50% - 74px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-align: center;
}
.div34 {
    position: absolute;
    top: 30px;
    left: calc(50% - 110px);
    font-size: 13px;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: #868686;
    text-align: center;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 123px;
    border-radius: 15px;
    background-color: #fbfbfb;
    border: 2px solid #ab80e3;
    box-sizing: border-box;
    width: 165px;
    height: 45px;
}
.text1 {
    position: absolute;
    top: 11px;
    left: calc(50% - 144px);
    letter-spacing: 0.03em;
    font-weight: 600;
}
.div35 {
    position: absolute;
    top: 11px;
    left: calc(50% + 112px);
    letter-spacing: 0.03em;
    font-weight: 600;
    color: #ab80e3;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 288px;
    height: 45px;
}
.text {
    position: absolute;
    top: 68px;
    left: 0px;
    width: 288px;
    height: 45px;
}
.diagram {
    position: absolute;
    top: 127px;
    left: 0px;
    width: 288px;
    height: 45px;
}
.picture {
    position: absolute;
    top: 186px;
    left: 0px;
    width: 288px;
    height: 45px;
}
.t-d-p {
    width: 288px;
    position: relative;
    height: 231px;
    text-align: left;
    font-size: 20px;
    color: #252525;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 22.5px;
    background-color: #ab80e3;
    border: 2px solid #ab80e3;
    box-sizing: border-box;
    width: 192px;
    height: 45px;
}
.submit {
    position: absolute;
    top: calc(50% - 11.5px);
    left: calc(50% - 35.5px);
    letter-spacing: 0.03em;
    font-weight: 600;
}
.group-div {
    width: 192px;
    position: relative;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    color: #f4f4f4;
}
.scoring {
    height: 1077px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 39px;
    font-size: 15px;
    color: #000;
}
.add-scoring {
    position: absolute;
    top: 141px;
    left: 51px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
}
.scrolling {
    position: absolute;
    top: 23px;
    left: calc(50% - 220px);
    width: 430px;
    height: 909px;
    overflow-y: auto;
}
.searchmenu {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 40px);
    z-index: 100;
    opacity: 0;
    width: 8%;
    height: 8%;
}
.usermenu {
	position: absolute;
    bottom: 30px;
    left: calc(50% + 100px);
    z-index: 100;
    opacity: 0;
    width: 8%;
    height: 8%;
}
.menu-bar-icon {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 215px);
    width: 430px;
    height: 130px;
}
.header-child {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(238, 238, 238, 0.95);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    height: 121px;
}
.raynia {
    position: absolute;
    top: 70px;
    left: calc(50% - 55px);
    letter-spacing: 0.12em;
    font-weight: 500;
}
.vector-icon ,.vector-parent1{
    position: absolute;
    top: 12px;
    left: calc(50% - 280px);
    width: 98px;
    height: 106px;
}
.vector-parent {
    position: absolute;
    top: 0px;
    left: calc(50%);
    width: 104px;
    height: 121px;
    cursor: pointer;
}
.add-info-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: #6b2dbc;
    font-family: Inter;
}

.container {
    display: block;
    position: relative;
    padding-left: 55px;
    padding-top: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1200;
    font: Inter;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #AB80E3;
  }
  .checkmark1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px solid #AB80E3;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #f3eaff;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #AB80E3;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.textarea1 input[type="text"] {
    position: absolute;
    background: transparent;
    border: none; /* Set the initial border color with transparency */
    height: 30px;
    width: 110px;
    top: 707px;
    left: 230px;
    color: #ab80e3;
    font-size: 13px;
    font-weight: 600;
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textarea1 input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0); /* Set the border color to transparent on focus */
    outline: none; /* Remove the default focus outline if you want */
}


.textarea2 input[type="text"] {
    position: absolute;
    background: transparent;
    border: none; /* Set the initial border color with transparency */
    height: 30px;
    width: 110px;
    top: 771px;
    left: 230px;
    color: #ab80e3;
    font-size: 13px;
    font-weight: 600;
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textarea2 input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0); /* Set the border color to transparent on focus */
    outline: none; /* Remove the default focus outline if you want */
}
.h {
    position: absolute;
    display: flex;
    left: 33px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.h1{
    position: absolute;
    display: flex;
    left: 89px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.h2 {
    position: absolute;
    display: flex;
    left: 143px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.h3 {
    position: absolute;
    display: flex;
    left: 199px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.h4 {
    position: absolute;
    display: flex;
    left: 254px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.h5 {
    position: absolute;
    display: flex;
    left: 309px;
    top: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.scorelist {
    position: absolute;
    display: flex;
    top: 40px;
    left: calc(50% - 175px);
	z-index: 0; 
    padding-left: 20px;
}
.scorelist1 {
    position: absolute;
    display: flex;
    top: 45px;
    left: calc(50% - 175px);
	z-index: 0; 
    padding-left: 20px;
}
.scorelist2 {
    position: absolute;
    display: flex;
    top: 50px;
    left: calc(50% - 175px);
	z-index: 0; 
    padding-left: 20px;
}
.scorelist3 {
    position: absolute;
    display: flex;
    top: 45px;
    left: calc(50% - 175px);
	z-index: 0; 
    padding-left: 20px;
}


.grade-requirement {
    width: 159px;
    position: relative;
    height: 144px;
}


.textarea1 input[type="text"] {
    position: absolute;
    background: transparent;
    border: none; /* Set the initial border color with transparency */
    height: 30px;
    width: 80px;
    top: 7px;
    left: 150px;
    color: #ab80e3;
    font-size: 18px;
    font-weight: 600;
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textarea1 input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0); /* Set the border color to transparent on focus */
    outline: none; /* Remove the default focus outline if you want */
}


.textarea2 input[type="text"] {
    position: absolute;
    background: transparent;
    border: none; /* Set the initial border color with transparency */
    height: 30px;
    width: 80px;
    top: 7px;
    left: 150px;
    color: #ab80e3;
    font-size: 18px;
    font-weight: 600;
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textarea2 input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0); /* Set the border color to transparent on focus */
    outline: none; /* Remove the default focus outline if you want */
}

.textarea3 input[type="text"] {
    position: absolute;
    background: transparent;
    border: none; /* Set the initial border color with transparency */
    height: 30px;
    width: 80px;
    top: 7px;
    left: 150px;
    color: #ab80e3;
    font-size: 18px;
    font-weight: 600;
    transition: border-color 0.3s; /* Add a smooth transition for the border color */
}

.textarea3 input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0); /* Set the border color to transparent on focus */
    outline: none; /* Remove the default focus outline if you want */
}