.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f4f4f4;
}
.book-img-icon {
    width: 172px;
    position: relative;
    height: 249px;
}
.div {
    position: absolute;
    top: 123px;
    left: 17px;
    letter-spacing: 0.03em;
}
.div1 {
    position: absolute;
    top: 45px;
    left: 17px;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div2 {
    position: absolute;
    top: 85px;
    left: 17px;
    letter-spacing: 0.05em;
    font-weight: 500;
}
.div3 {
    position: absolute;
    top: 10px;
    left: 17px;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #3a5e95;
}
.book-tags1 {
    position: absolute;
    top: 8px;
    left: 17px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #b4b4b4;
}
.tag-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13.5px;
    background-color: #d07d7d;
    width: 85px;
    height: 27px;
}
.div4 {
    position: absolute;
    top: 4px;
    left: 21px;
    letter-spacing: 0.04em;
}
.tag {
    position: absolute;
    top: 33px;
    left: 17px;
    width: 85px;
    height: 27px;
}
.tag-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13.5px;
    background-color: #93afd8;
    width: 74px;
    height: 27px;
}
.tag1 {
    position: absolute;
    top: 33px;
    left: 111px;
    width: 74px;
    height: 27px;
}
.tag-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 13.5px;
    background-color: #bbb;
    width: 74px;
    height: 27px;
}
.more {
    position: absolute;
    top: 4px;
    left: 10px;
    letter-spacing: 0.04em;
}
.tag2 {
    position: absolute;
    top: 73px;
    left: 17px;
    width: 74px;
    height: 27px;
    font-size: 15px;
}
.book-tags {
    position: absolute;
    top: 156px;
    left: 0px;
    width: 190px;
    height: 110px;
    overflow: hidden;
    font-size: 16px;
    color: rgba(244, 244, 244, 0.95);
}
.basic-info {
    width: 190px;
    position: relative;
    height: 266px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
}
.div6 {
    position: absolute;
    top: 17px;
    left: 1px;
    letter-spacing: 0.05em;
    font-weight: 600;
}
.p {
    margin: 0;
}
.xxx-xxx-container {
    position: absolute;
    width: 100%;
    top: 61px;
    left: 0px;
    font-size: 15px;
    line-height: 6px;
    white-space: pre-wrap;
    display: inline-block;
}
.book-info {
    width: 335px;
    position: relative;
    top: -50px;
    font-size: 15px;
    line-height: 22px;
    font-family: Inter;
    color: #252525;
    white-space: pre-wrap;
    text-align: left;
    display: inline-block;
}
.group-child {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #ffe7be;
    width: 300px;
    height: 28px;
}
.group-item {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #fdb435;
    width: 210px;
    height: 28px;
}
.div7 {
    position: absolute;
    top: 0px;
    left: calc(50% - 83px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div8 {
    position: absolute;
    top: 41px;
    left: calc(50% - 16px);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #ac7006;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 150px);
    width: 300px;
    height: 64px;
}
.book-scoring-inner {
    width: 300px;
    position: relative;
    height: 64px;
}
.rectangle-div {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #fdb435;
    width: 180px;
    height: 28px;
}
.div9 {
    position: absolute;
    top: 0px;
    left: calc(50% - 97px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div10 {
    position: absolute;
    top: 41px;
    left: calc(50% - 17px);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #ac7006;
}
.group-child1 {
    position: absolute;
    top: 36px;
    left: 0px;
    border-radius: 14px;
    background-color: #e8e0f2;
    width: 269px;
    height: 28px;
}
.group-child2 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px 0px 0px 14px;
    background-color: #e7acf1;
    width: 150px;
    height: 28px;
}
.rectangle-icon {
    position: absolute;
    top: 36px;
    left: calc(50% - 0px);
    width: 75px;
    height: 28px;
}
.div11 {
    position: absolute;
    top: 0px;
    left: calc(50% - 74px);
    font-size: 18px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: #252525;
}
.group-child3 {
    position: absolute;
    top: 36px;
    left: calc(50% + 75px);
    border-radius: 0px 14px 14px 0px;
    background-color: #95c6ff;
    width: 75px;
    height: 28px;
}
.t-50 {
    position: absolute;
    top: 42px;
    left: calc(50% - 87px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.d-25 {
    position: absolute;
    top: 42px;
    left: calc(50% + 17px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.p-25 {
    position: absolute;
    top: 42px;
    left: calc(50% + 92px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.rectangle-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 64px;
}
.code-info-icon {
    position: absolute;
    top: calc(50% - 41px);
    left: calc(50% + 74px);
    width: 41px;
    height: 40px;
    overflow: hidden;
}
.group-parent {
    width: 300px;
    position: relative;
    height: 64px;
    font-size: 13px;
    color: rgba(86, 22, 169, 0.75);
}
.group-child4 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #d6e6ef;
    width: 300px;
    height: 28px;
}
.group-child5 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #21a2f2;
    width: 180px;
    height: 28px;
}
.div12 {
    position: absolute;
    top: 0px;
    left: calc(50% - 105px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div13 {
    position: absolute;
    top: 41px;
    left: calc(50% - 17px);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #005c95;
}
.group-child7 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #21a2f2;
    width: 150px;
    height: 28px;
}
.div14 {
    position: absolute;
    top: 0px;
    left: calc(50% - 21px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div15 {
    position: absolute;
    top: 41px;
    left: calc(50% - 16px);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #3a5e95;
}
.group-child9 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #21a2f2;
    width: 210px;
    height: 28px;
}
.div16 {
    position: absolute;
    top: 0px;
    left: calc(50% - 77px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div17 {
    position: absolute;
    top: 41px;
    left: calc(50% - 16px);
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: 500;
    color: #005c95;
}
.group-child11 {
    position: absolute;
    top: 36px;
    left: calc(50% - 150px);
    border-radius: 14px;
    background-color: #fdb435;
    width: 240px;
    height: 28px;
}
.div18 {
    position: absolute;
    top: 0px;
    left: calc(50% - 42px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.div20 {
    position: absolute;
    top: 0px;
    left: calc(50% - 50px);
    letter-spacing: 0.05em;
    font-weight: 600;
}
.book-scoring {
    position: relative;
    width: 362px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.book-scoring-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div22 {
    position: absolute;
    top: calc(50% - 7.5px);
    left: calc(50% - 38px);
    letter-spacing: 0.02em;
}
.graph {
    top: 0px;
    width: 362px;
    position: relative;
    height: 299px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 14px;
    color: #6b2dbc;
    font-family: Karla;
}
.group-child14 {
    position: absolute;
    top: calc(50% - 26px);
    left: 0px;
    border-radius: 26px;
    border: 3px solid #ab80e3;
    box-sizing: border-box;
    width: 273px;
    height: 52px;
}
.icon {
    position: absolute;
    width: 4.76%;
    top: calc(50% - 7px);
    right: 9.16%;
    left: 86.08%;
    max-width: 100%;
    overflow: hidden;
    height: 13px;
}
.div23 {
    position: absolute;
    width: 75.29%;
    top: calc(50% - 13px);
    left: 10.1%;
    letter-spacing: 0.02em;
    font-weight: 600;
    display: inline-block;
    height: 26px;
}
.rectangle-parent5 {
    position: absolute;
    top: calc(50% - 25.5px);
    left: 41px;
    width: 273px;
    height: 52px;
}
.add-info {
    width: 362px;
    position: relative;
    top: -70px;
    height: 101px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 20px;
    color: #ab80e3;
}
.content {
    position: absolute;
    top: 151px;
    left: 34px;
    width: 362px;
    height: 1700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.popupnext {
    position: absolute;
    left: calc(80%);
    top: 145px;
}
.popupback {
    position: absolute;
    left: -10px;
    top: 120px;
}
.scrolling {
    position: absolute;
    top: 23px;
    left: calc(50% - 220px);
    width: 430px;
    height: 909px;
    overflow-y: auto;
}
.searchmenu {
    position: absolute;
    bottom: 30px;
    left: calc(50% - 40px);
    z-index: 100;
    opacity: 0;
    width: 8%;
    height: 8%;
}
.usermenu {
	position: absolute;
    bottom: 30px;
    left: calc(50% + 100px);
    z-index: 100;
    opacity: 0;
    width: 8%;
    height: 8%;
}
.menu-bar-icon {
    position: absolute;
    bottom: -1px;
    left: calc(50% - 215px);
    width: 430px;
    height: 130px;
}
.header-child {
    position: absolute;
    width: 200%;
    top: 0px;
    right: 0px;
    left: calc(50% - 440px);
    background-color: rgba(238, 238, 238, 0.95);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    height: 121px;
}
.raynia {
    position: absolute;
    top: 70px;
    left: calc(90% - 55px);
    letter-spacing: 0.12em;
    font-weight: 500;
}
.vector-icon, .group-child15 {
    position: absolute;
    top: 12px;
    left: calc(50% - 100px);
    width: 98px;
    height: 106px;
}
.vector-parent {
    position: absolute;
    top: 0px;
    left: calc(50%);
    width: 104px;
    height: 121px;
    cursor: pointer;
    z-index: 100;
}

.header {
    position: absolute;
    top: 0px;
    left: calc(-40%);
    width: 100%;
    height: 121px;
    font-size: 27px;
    color: #6b2dbc;
    font-family: Karla;
}
.book-3 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 932px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    color: #252525;
    font-family: Inter;
}


.information-child {
    position: absolute;
    top: calc(50% - 279.5px);
    left: calc(50% - 198.5px);
    border-radius: 55px;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 397px;
    height: 559px;
}
.discard-icon {
    position: absolute;
    top: 26px;
    left: 326px;
    width: 37px;
    height: 37px;
    overflow: hidden;
}
.code-child {
    position: absolute;
    top: 0px;
    left: calc(50% - 116.26px);
    border-radius: 25px;
    background-color: #ab80e3;
    width: 232.53px;
    height: 59px;
}
.t-75 {
    position: absolute;
    top: 11px;
    left: calc(50% - 79.26px);
    letter-spacing: 0.12em;
    font-weight: 600;
}
.code {
    position: absolute;
    top: 57px;
    left: calc(50% - 115.5px);
    width: 232.53px;
    height: 59px;
}
.code-item {
    position: absolute;
    top: 0px;
    left: calc(50% - 110.39px);
    border-radius: 25px;
    background-color: #ab80e3;
    width: 220.79px;
    height: 59px;
}
.div24 {
    position: absolute;
    top: 10.39px;
    left: calc(50% - 82.39px);
    letter-spacing: 0.12em;
    font-weight: 600;
}
.code1 {
    position: absolute;
    top: 172px;
    left: calc(50% - 109.5px);
    width: 220.79px;
    height: 59px;
}
.code-inner {
    position: absolute;
    top: 0px;
    left: calc(50% - 175.26px);
    border-radius: 25px;
    background-color: #ab80e3;
    width: 350.53px;
    height: 59px;
}
.t-657 {
    position: absolute;
    top: 10px;
    left: calc(50% - 138.26px);
    letter-spacing: 0.12em;
    font-weight: 600;
}
.code2 {
    position: absolute;
    top: 289px;
    left: calc(50% - 174.5px);
    width: 350.53px;
    height: 59px;
}
.b {
    position: absolute;
    top: 18px;
    left: calc(50% - 82.5px);
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #252525;
    text-align: center;
}
.b1 {
    position: absolute;
    top: 133px;
    left: calc(50% - 76.5px);
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #252525;
    text-align: center;
}
.b2 {
    position: absolute;
    top: 249px;
    left: calc(50% - 111.5px);
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #252525;
    text-align: center;
}
.content1 {
    position: absolute;
    top: 73px;
    left: calc(50% - 198.5px);
    width: 397px;
    height: 384px;
    overflow: hidden;
}
.information-item {
    position: absolute;
    top: calc(50% + 158.5px);
    left: calc(50% + 94.5px);
    width: 104px;
    height: 121px;
    object-fit: contain;
}
.information-inner {
    position: absolute;
    top: 492px;
    left: 110px;
    width: 178px;
    height: 12px;
}
.b3 {
    position: absolute;
    top: 30px;
    left: calc(50% - 116.5px);
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #252525;
    text-align: center;
}
.information {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 397px;
    height: 559px;
}
.info {
    width: 397px;
    position: relative;
    height: 559px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: left;
    font-size: 32px;
    color: #f4f4f4;
    font-family: Inter;
}


.t-d-p-child {
    position: absolute;
    top: calc(50% - 103px);
    left: calc(50% - 76.5px);
    border-radius: 21px;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 153px;
    height: 206px;
}
.t-d-p-item {
    position: absolute;
    top: 48px;
    left: 21px;
    border-radius: 14px;
    background-color: #e7acf1;
    width: 112px;
    height: 28px;
}
.t-d-p-inner {
    position: absolute;
    top: 94px;
    left: 21px;
    border-radius: 14px;
    background-color: #a9a7f9;
    width: 112px;
    height: 28px;
}
.t-d-p-child1 {
    position: absolute;
    top: 140px;
    left: 21px;
    border-radius: 14px;
    background-color: #a8d0ff;
    width: 112px;
    height: 28px;
}
.t-text {
    position: absolute;
    top: 54px;
    left: calc(50% - 24.5px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.d-diagram {
    position: absolute;
    top: 100px;
    left: calc(50% - 38.5px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.p-picture {
    position: absolute;
    top: 146px;
    left: calc(50% - 34.5px);
    letter-spacing: 0.05em;
    font-weight: 500;
}
.discard-icon1 {
    position: absolute;
    top: 5px;
    left: 119px;
    width: 28px;
    height: 28px;
    overflow: hidden;
}
.popup-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(113, 113, 113, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Set a high z-index value to ensure it's above the page content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.physic {
    position: absolute;
    top: 0px;
    left: calc(50% - 148px);
    width: 296px;
    height: 429px;
}
.t-d-p {
    width: 200px;
    position: relative;
    height: 250px;
    max-width: 90%;
    max-height: 90%;
    left: 100px;
    overflow: auto;
    color: rgba(86, 22, 169, 0.75);
    font-family: Inter;
}

.book-img-4 {
    position: absolute;
    top: 0px;
    left: calc(50% - 148px);
    width: 296px;
    height: 429px;
}

.book-overlay-3 {
    width: 430px;
    position: relative;
    height: 429px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}